<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.repository.BoardRepository">
    <!-- 게시물 리스트   -->
    <select id="getBoardList" resultType="com.example.board.vo.BoardVO">
        SELECT *
        FROM BoardList
        ORDER BY boardSeq DESC
    </select>
    <!--  게시물 내용  -->
    <select id="getBoardDetail" resultType="com.example.board.vo.BoardVO">
        SELECT *
        FROM BoardList
        WHERE boardSeq = #{boardSeq}
    </select>
    <!-- 게시물 등록 -->
    <insert id="insertBoard" parameterType="com.example.board.vo.BoardVO">
        INSERT INTO BoardList(boardAuthor,boardTitle,boardContent,boardCreateDate)
        VALUES (#{boardAuthor}, #{boardTitle}, #{boardContent},now())
    </insert>


</mapper>